.idea/*
*.pyc
*/checkpoints/*
*-sample*.npy
*power.npy
FACE/evaluate/oracle/*
FACE/data/**.npy
FACE/train/models/*
data/power/end2end/power.npy
*_pool.npy
end2end/end2end-bootstrap/*.csv
end2end/end2end-evaluations/*.txt
end2end/experiment-records/*.txt
end2end/figures/
end2end/model-evaluation/** 
end2end/parsed-records/*.txt
models/
take-over.md
!end2end/**/tmp
# !models/**origin_models